body{
    /* font-family: 'Merriweather Sans', sans-serif; */
    margin: 0;
    color: white;
    background: #11121A;
}

*{
    box-sizing: border-box;
}

header{
    background-color: #1C1C24;
    height: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 20px;
    margin-bottom: 25px;

}

.header-container{
    /* background-color: palevioletred; */
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    font-family: sans-serif;
}
.header-container .logo{
    height: 67px;
    margin-right: 10px;
    margin-top: -40px;
    /* box-shadow: 8px 8px 2px 2px #404042; */
}
.header-container .logo img{
    height: 100px;
     border-radius: 10%;
     /* z-index: 1; */
     /* box-shadow: 8px 8px 2px 2px #404042; */
    
}
.header-container>span{
    font-size: 18px;
    font-weight: bold;
    color: white;
    z-index: 1;
    font-family: cursive;
    /* background-color: black; */
}
.header-container>span .bold{
    color: white;
}
.search{
width: 100%;
max-width: 1250px;
margin: 0 auto;
padding: 0 25px;

}

.search-container{
    background-color: #1C1C24;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #222328;
    display: flex;
    overflow: hidden;


}

.input-container{
    flex-grow: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: palevioletred; */
}
.input-container input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.input-container i{
    font-size: 20px;
    margin-left: 25px;
}

.button-container{
    background: #3060FF;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;

}
.button-container:hover{
    background: #5a81ff;
}
.jobs-list{
    background-color: #11121A;
    max-width: 1250;
    width: 100%;
    height:100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
.jobs-list h1{
    margin-left: 25x;
    font-size: 20px;

}
.jobs-list i{
    color: red;
}
.jobs-container{
    display: grid;
    gap:40px ;
    /* flex-grow: 1; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    /* margin: 0,25px; */
    background: #11121A;
}
.job-tile{
    /* background: orange; */
    background: #1C1C24;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    color: white;
    /* box-shadow: 20px 20px 50px rgba(0,0,0,0.5); */
    /* background: rgba(255, 255,255, 0.1); */
    /* backdrop-filter: blur(5px); */
    padding: 30px;
    transition: transform 0.2s;

}
.job-tile:hover{
    transform: scale(1.05);
}
.top{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.rolename{
    padding: 20px 0px;

}
.rolename span{
    font-size: 22px;
    z-index: 1;
}

.description{
    height: 105px;
    overflow: hidden;
    font-size: 18px;
    color: #96939B;
    flex-grow: 1;
}
.buttons{
    /* background-color: palevioletred; */
    color: black;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 45px ;
    /* box-shadow: 20px 20px 50px rgba(255,255,255,0.5); */
    /* z-index: 1; */
}
.button{
    /* background-color: green; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #96939B;
    background-color: #2E2E39;
    font-size: 14px;



}
.apply-now{
    color:wheat;
    text-decoration: none;
    background: #3060FF;
    margin-right: 15px;
    /* z-index: 1; */
}

.apply-now a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

@media screen and (max-width: 930px){
    .jobs-container{
        grid-template-columns: repeat(2,1fr);
    }

}
@media screen and (max-width: 600px){
    .jobs-container{
        grid-template-columns: repeat(1,1fr);
    }
    

}